<div class="container">
	<br /><br /><br />
	<div class="row">
		<span class="col-xs-4 col-xs-offset-2 text-center">
			<h4>Contact</h4>
			<p><a href="mailto:info@amychangactress.com">info@amychangactress.com</a></p>
			<br />
			<h4>Commercial Agent</h4>
			<p>Ingber & Associates</p>
			<p>212-889-9450</p>
			<p><a href="mailto:caroleingber@ingberassoc.com">caroleingber@ingberassoc.com</a></p>
			<p><a href="mailto:samcatapano.ingber@gmail.com">samcatapano.ingber@gmail.com</a></p>
		</span>
		<span class="col-xs-4">
			<img src="assets/images/shapeimage_4.png"/>
		</span>
	</div>
</div>