<div class="container">
	<br /><br /><br />
	<table ng-repeat="medium in data"class="table">
		<thead>
			<tr>
				<th>{{medium.name.toUpperCase()}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in medium.items">
				<td>{{item.title}}<i ng-if="item.featuring"> (w/ {{item.featuring}})</i></td>
				<td>{{item.role ? item.role : ""}}{{(item.role && item.billing) ? " &mdash; " : ""}}
					<i ng-if="item.billing">{{item.billing}}</i>
				</td>
				<td>{{item.notes}}</td>
			</tr>
		</tbody>
	</table>
</div>