<div class="container">
	<br /><br /></br >
    <carousel interval="myInterval" no-wrap="noWrapSlides">
      <slide ng-repeat="slide in slides" active="slide.active">
        <iframe ng-src="{{slide.url | trustAsResourceUrl}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <p><a href="{{slide.link}}">{{slide.text}}</a> from <a href="https://vimeo.com/amychang">Amy Chang</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
      </slide>
    </carousel>
  </div>
</div>